[defaults]
roles_path = roles
stdout_callback = ansible.builtin.default
result_format = yaml
log_path = ./ansible-verbose.log

[inventory]
# Point at a containerized or RPM installer inventory, e.g.:
#   ansible-playbook -i /path/to/inventory playbook.yml
